
body {
    background-color: #0f1020;
    overflow-x: hidden; 
}


.animation-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    perspective: 1000px; 
    overflow: hidden;
}


.grid-floor {
    position: absolute;
    bottom: -25%; 
    left: -50%;
    width: 200%; 
    height: 100%;
    background-image: 
        
        linear-gradient(90deg, rgba(76, 201, 240, 0.3) 1px, transparent 1px),
        
        linear-gradient(180deg, rgba(76, 201, 240, 0.3) 1px, transparent 1px);
    
    background-size: 50px 50px; 
    
    
    transform: rotateX(60deg);
    
    
    animation: moveGrid 4s linear infinite;
    

    mask-image: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 60%);
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 60%);
}


.horizon-glow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: radial-gradient(ellipse at bottom, rgba(67, 97, 238, 0.2) 0%, transparent 70%);
    z-index: -1;
}


@keyframes moveGrid {
    0% {
        background-position-y: 0px;
    }
    100% {
        background-position-y: 50px; 
    }
}



.particles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    overflow: hidden;
    pointer-events: none;
}


.particle {
    position: absolute;
    width: 4px;
    height: 4px;
    background: #6de7ff; 
    border-radius: 50%;
    box-shadow: 0 0 10px #6de7ff, 0 0 20px #6de7ff;
    opacity: 0;
    animation: floatParticle 8s infinite linear;
}

@keyframes floatParticle {
    0% {
        transform: translateY(100vh) scale(0);
        opacity: 0;
    }
    10% {
        opacity: 1;
        transform: translateY(90vh) scale(1);
    }
    90% {
        opacity: 0.5;
    }
    100% {
        transform: translateY(-10vh) scale(0.5);
        opacity: 0;
    }
}

.footer-signature{
    position: fixed;
    bottom: 15px;
    width: 100%;
    text-align: center;
    color: rgba(255,255,255,0.3);
    font-family: 'Orbitron', sans-serif;

    font-size: 0.75rem;
    letter-spacing: 1px;
    z-index: 0;
    pointer-events: none;
}



.particle:nth-child(1) { left: 5%; animation-duration: 6s; animation-delay: 0s; }
.particle:nth-child(2) { left: 12%; animation-duration: 9s; animation-delay: 2s; background: #b07bff; }
.particle:nth-child(3) { left: 20%; animation-duration: 7s; animation-delay: 4s; }
.particle:nth-child(4) { left: 28%; animation-duration: 11s; animation-delay: 1s; }
.particle:nth-child(5) { left: 35%; animation-duration: 8s; animation-delay: 3s; background: #4af626;  }
.particle:nth-child(6) { left: 42%; animation-duration: 6s; animation-delay: 5s; }
.particle:nth-child(7) { left: 50%; animation-duration: 10s; animation-delay: 0s; }
.particle:nth-child(8) { left: 58%; animation-duration: 12s; animation-delay: 2s; background: #b07bff; }
.particle:nth-child(9) { left: 65%; animation-duration: 7s; animation-delay: 1s; }
.particle:nth-child(10) { left: 73%; animation-duration: 9s; animation-delay: 4s; background: #4af626; }
.particle:nth-child(11) { left: 80%; animation-duration: 6s; animation-delay: 2s; }
.particle:nth-child(12) { left: 88%; animation-duration: 11s; animation-delay: 0s; }
.particle:nth-child(13) { left: 95%; animation-duration: 8s; animation-delay: 3s; }
.particle:nth-child(14) { left: 15%; animation-duration: 13s; animation-delay: 1s; background: #b07bff; }
.particle:nth-child(15) { left: 85%; animation-duration: 10s; animation-delay: 5s; }


