{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success - CodeRun</title>
    <link rel="icon" type="image/png" href="{% static 'programming.png' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/grid_bg.css' %}">
</head>
<body>
    <div class="animation-wrapper">
        <div class="horizon-glow"></div>
        <div class="grid-floor"></div>
        <div class="particles">
            <div class="particle"></div><div class="particle"></div>
        </div>
    </div>

    <div class="card" style="border-color: #4af626;">
        <h1 style="color: #4af626;">Success!</h1>
        <p style="color: #eee; margin: 20px 0;">Your password has been updated successfully.</p>

        <a href="{% url 'rle_tool' %}">
            <button style="background: linear-gradient(45deg, #28a745, #85e05a);">Return to Tool</button>
        </a>
    <div class="footer-signature">&copy; 2025 Seraph</div>

    </div>
</body>
</html>